*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(27,27,27,255);
    color: white;
}

.container a {
    text-decoration: none;
    color: #8cb4ff;
}


.container h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align:left;
    margin-left:20px;
    margin-right: 20px;
    text-decoration-thickness: 1px solid grey;
}


.container .info_element {
    width: 50%;
    text-align: left;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 20px;
    font-size: 20px;
    padding-bottom: 30px;
}

.container .profes {
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 20px;
    font-size: 20px;
}


.container .profes ul{
    list-style-type: none;
}

.container .profes ul li::before {
    content: "Prof."
}

.container .tabla table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.container .tabla table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    /*Crear mas espacios entre los cuadros*/
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.container .tabla td {
    padding: 10px;
}

.container .tabla td:visited {
    text-decoration: none;
}

.container .tabla  th {
    text-align: left;
    height: 100%;
    padding: 15px;
}

.container .tabla .center  {
    width: 75px;
    text-align: center;
}

.container .tabla  tr:nth-child(even) {
    background-color: #313131;
}

.container .index {
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px 0px;
    background-color: #313131;
}

.container .index h2 {
    margin-left: 30px;
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #449c64;
}

.container .index a {
    margin-left: 30px;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
}

.container .index .move {
    margin-left: 50px;
}

.container .intro {
    text-align: left;
    padding-bottom: 15px;
}

.container .subs {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    color: #44e0a0;
}

.container .link-material {
    padding-left: 60px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


.container .link-material li {
    padding: 5px 0px;
}

.container .foot {
    margin-top: 50px;
    height: 50px;
    width: 100%;
    background-color: #313131;
    padding-top: 20px;
}

.container .foot #datetime {
    margin: 0 auto;
    text-align: center;
    width: max-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #44e0a0;
    font-size: 20px;
}

.container .foot #logo {
    float: right;
    width: max-content;
    padding-right: 20px;
}

.container .foot #arrow {
    float: left;
    width: max-content;
    padding-left: 20px;
}

