ol {
    list-style: none;
    counter-reset: contador;
}

ol li {
    counter-increment: contador;
}

ol li::before {
    content: 'Numero ' counter(contador) ') ';
    color: chocolate;
}

ol li::after {
    content:  '.';
}