
h1 {
    text-align: center;
}

.container {
    border: 3px solid blue;
    width: 15%;
    height: 200px;
    /*Hides the content
        overflow: hidden;
    */
    /*
        Uses scroll bars
        overflow: scroll;
    */
    overflow: auto;
    float: left;
}

.container-right {
    border: 3px solid blue;
    width: 15%;
    height: 200px;
    /*Hides the content
        overflow: hidden;
    */
    /*
        Uses scroll bars
        overflow: scroll;
    */
    overflow: auto;
    float: right;
}

.container-mid {
    border: 3px solid blue;
    height: 200px;
    clear: both;
    margin: auto;
    width: 15%;
    overflow: auto;
}

